@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 0 0 8px 0 black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header div, header nav ul {
  display: flex;
}

@media(min-width: 769px) {  
  header nav img {
    display: none;
  }  
}

@media(max-width: 768px) {  
  header nav ul {
    display: none;
  }  
}

header div img{
  width: 80px;
}

header nav img {
  width: 24px;
  margin: 0 20px;
}

header nav ul li {
  margin: 0 20px;
}
